*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}



h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;

  background: linear-gradient(to bottom,rgba(153, 254, 137, 1), rgba(33, 209, 222, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}

/*헤더*/

/* coin */
#coin {
  background-color: #000;
  width: 100%;
  padding: 150px 0;
  position: relative;
}
#coin .coin_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#coin .coin_bg::before {
  content: '';
  background: url(../img/coin_a.png) no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
#coin .coin_area {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#coin .coin_area h3 {
  text-align: center;
}
#coin .coin_area p {
  color: #fff;
  text-align: center;
}
#coin .coin_area .chart_cover .chart_txt {
  position: relative;
  width: 100%;
  color: #fff;
  padding: 0 15%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  margin-bottom: 2%;
}

#coin .coin_area .chart_cover .chart {
  display: flex;
  align-items: center;
  text-align: left !important;
  position: relative;

  background: rgba(12, 34, 56, 0.1);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}
#coin .coin_area .chart_cover .chart img {
  padding: 10%;
  max-width: 100%;
}

#coin .coin_area .chart_cover .chart .chart_data {
 color: #fff;
 display: flex;
 width: 70%;
 margin-left: 5%;
}
#coin .coin_area .chart_cover .chart .chart_data .wttr_content_middle {
  width: 100%;
  height: 100%;
}
#coin .coin_area .chart_cover .chart .chart_data .wttr_content_right {
  width: 100%;
  height: 100%;
}
#coin .coin_area .chart_data ul li {
  line-height: 4;
  display: flex;
  align-items: center;
}

#coin .coin_area .chart_data ul li span {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #516349;
  display: block;
  margin-right: 20px;
}
#coin .coin_area .chart_data ul li:nth-child(2) span {
  background-color: #A0D091;
}
#coin .coin_area .chart_data ul li:nth-child(3) span {
  background-color: #C7DF9F;
}
#coin .coin_area .chart_data .wttr_content_right ul li:nth-child(1) span {
  background-color: #6F9665;
}
#coin .coin_area .chart_data .wttr_content_right ul li:nth-child(2) span {
  background-color: #71C4AC;
}
#coin .coin_area .chart_data .wttr_content_right ul li:nth-child(3) span {
  background-color: #D1E8D7;
}


/* roadmap */
#roadmap{
  width: 100%;
  padding: 150px 0;
  text-align: center;
  position: relative;
  background: #000;
}

#roadmap .roadmap_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#roadmap .roadmap_bg::before {
  content: '';
  background: url(../img/roadmap_a.png) no-repeat left center;
  background-size: cover;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#roadmap .roadmap_wrap{
  width: 100%;
}
#roadmap .roadmap_wrap .roadmap_box{
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box {
  width: 30%;
  margin-top: 5%;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box .rdm_card{
  padding: 13%;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  text-align: left;

  border-radius: 30px;
  background: linear-gradient(180deg, rgba(3, 16, 30, 0.38) 0%, rgba(28, 51, 45, 0.32) 0%, rgba(19, 85, 111, 0.08) 100%);
  backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box h4{
  padding: 0% 5% 0% 7%;
  font-size: 2rem;
  text-align: left;
}
#roadmap .roadmap_wrap .roadmap_box .rdm_box p{
  padding: 3% 0
}